server:
  # The address the server will listen on
  addr: :8081
  # The verbosity of the logs: info or debug
  log_level: debug
  # Use JSON formatter for logs
  log_json: false

  # Optional section containing
  # contact information to send error reports to.
  # The email from this section will be shown to
  # clients in error messages.
  contacts:
    email: ""
    subject: ""

# If set, the LDAP authenticator is enabled
ldap:
  # SPOE message name as it is defined in HAProxy spoe-message {{ NAME }} value.
  spoe_message: "try-auth-ldap"
  # The URI and port to the ldap server
  uri: ldaps://ldap
  port: 636
  # In case of an ldaps connection, verify the TLS certificate of the server
  verify_tls: false
  # The DN and password of the user to bind with in order to perform the search query to find the user
  user_dn: cn=admin,dc=example,dc=com
  password: password
  # The base DN used for the search queries
  base_dn: dc=example,dc=com
  # The filter for the query searching for the user provided
  user_filter: "(&(cn={login})(ou:dn:={group}))"

# If set, the OpenID Connect authenticator is enabled
oidc:
  # SPOE message name as it is defined in HAProxy spoe-message {{ NAME }} value.
  spoe_message: "try-auth-oidc"
  # The URL to the OpenID Connect provider. This is the URL hosting the discovery endpoint
  provider_url: http://dex.example.com:9080/dex
  # The client_id and client_secret of the app representing the SPOE agent
  # The callback the OIDC server will redirect the user to once authentication is done
  oauth2_callback_path: /oauth2/callback
  # The path to the logout endpoint to redirect the user to.
  oauth2_logout_path: /oauth2/logout
  # The path the oidc client uses for a healthcheck
  oauth2_healthcheck_path: /health
  # The SPOE agent will open a dedicated port for the HTTP server handling the callback. This is the address the server listens on
  callback_addr: ":5000"

  # Various properties of the cookie holding the ID Token of the user
  cookie_name: authsession
  cookie_secure: false
  # If not set, then uses ID token expire timestamp
  cookie_ttl_seconds: 3600
  # OpenID state lifetime. If not set, default is 300 seconds (5 minutes).
  state_ttl_seconds: 300
  # The secret used to sign the state parameter
  signature_secret: myunsecuresecret
  # The secret used to encrypt the cookie in order to guarantee the privacy of the data in case of leak
  encryption_secret: anotherunsecuresecret

  # A mapping of client credentials per protected domain
  clients:
    dummy.example.com:
      client_id: dummy-client
      client_secret: dummy-secret
      redirect_url: http://dummy.example.com:9080/oauth2/callback
